@import "tailwindcss";
@plugin "daisyui";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

/* html {
  overflow-x: hidden;
} */
body {
  /* overflow-x: hidden; */
  font-family: "Jost", sans-serif;
}
